body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "header"
    "projects"
    "footer";
}

/* PROJECTS SECTION */
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  grid-area: projects;
}

/* PROJECTS SECTION MAIN CONTAINER */
.projects-cards-container {
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 80%;
  border: 1px solid #007d32;
  border-radius: 10px;
}

/* PROJECTS HEADER AND PARAGRAPH */
.projects-header {
  text-align: center;
}

header {
  grid-area: header;
}

.footer-container {
  grid-area: footer;
}

.projects-header > h2 {
  font-size: 3.5rem;
  color: #007d32;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.projects-header > p {
  font-size: 1.2rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

/* PROJECT CARD CONTAINER */
.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 10px;
}

.card-div-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vh;
  line-height: 1.5;
}

.project-card h3 {
  font-size: 2rem;
  color: #007d32;
}

/* TECH NAMES UL */
.card-tech-ul {
  display: flex;
  gap: 0.5rem;
}

.card-tech-ul li {
  border: 1px solid #007d32;
  border-radius: 20px;
  font-weight: 500;
  font-size: 0.7rem;
  padding: 0.2rem 0.6rem;
}

.card-description {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 500;
}

.card-ul-header {
  color: #007d32;
  font-size: 1.5rem;
}

.card-ul li {
  font-size: 1rem;
  font-weight: 500;
}

.github-link {
  display: inline-block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  background-color: #007d32;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  width: 50%;
  text-align: center;
}

/* RIGHT CARD IMAGES */
.project-card img {
  width: 75%;
}

/* MEDIA QUERIES */
@media (max-width: 1000px) {
  .project-card {
    grid-template-columns: 1fr 1fr;
    height: auto;
  }

  .card-div-left {
    grid-column: span 2;
  }
}

@media (max-width: 600px) {
  .project-card {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card-div-left {
    grid-column: 1/2;
  }
}
